*.DS_Store
Pods/*
Pods
*xcuserdata*
Podfile.lock

# Ignore AppCode user-related files
.idea

# Ignore Carthage installed files
Carthage/*

# Xcode build artifacts
DerivedData/

# Xcode user-specific and temporary files
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap

# Archive and debug symbol files
*.ipa
*.dSYM.zip
*.dSYM
